<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Object</td>
      <td>{{ obj }}</td>
    </tr>
    <tr>
      <td>Object.pk</td>
      <td>{{ obj.pk }}</td>
    </tr>
    <tr>
      <td>Object.pkeys</td>
      <td>{{ obj.pkeys }}</td>
    </tr>
    <tr>
      <td>Object.pkvals</td>
      <td>{{ obj.pkvals }}</td>
    </tr>
    <tr>
      <td>Object.has_compositepk</td>
      <td>{{ obj.has_compositepk }}</td>
    </tr>
  </tbody>
</table>
