{% extends "app/layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1>CompositePK Model for Django</h1>
    <p class="lead">CompositePK Model(CPkModle) support model with multi-column primary key.</p>
    <p><a href="https://gijutsu.com/en/" class="btn btn-secondary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Admin Test</h2>
    <p>
      Go to admin page and login with user=test,pass=test. Admin can treat models built by CPkModel, but can add Only one child record for One Parent.
    </p>
    <p><a class="btn btn-primary" href="/admin/">Go to Admin &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Additional Test for Musician and Album</h2>
    <p>You can CREATE more Album records here.</p>
    <p><a class="btn btn-primary" href="{% url 'musician' %}">Go to Musician Test &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Additional Test for Company and CompanyBranch</h2>
    <p>You can CREATE more CompanyBranch records here.</p>
    <p><a class="btn btn-primary" href="{% url 'company' %}">Go To Company Test &raquo;</a></p>
  </div>

  <div class="col-md-4">
    <h2>Filter Pattern Test</h2>
    <p>Check various Field Lookup Patterns. Including Error Check(Some Exception will occur).</p>
    <p><a class="btn btn-primary" href="{% url 'test_filter' %}">Go To Filter Test &raquo;</a></p>
  </div>
  <div class="col-md-8">
    <h2>Test Model Definition</h2>
    <pre>
  # Normal Model
  #   primary_key is auto 'id'
  class Company(models.Model):
      name = models.CharField(max_length=100)
      established_date = models.DateField()
      company_code = models.CharField(max_length=100)

      class Meta:
          db_table = 'Company'


  # Child Model (CpkModel)
  class CompanyBranch(CPkModel):
      company = models.ForeignKey(
          Company,
          primary_key=True,       # for CompositePK
          on_delete=models.CASCADE)
      country_code = models.CharField(
          max_length=100,
          primary_key=True,       # for CompositePK
      )
      name = models.CharField(max_length=100)
      established_date = models.DateField()

      class Meta:
          db_table = 'CompanyBranch'
          unique_together = (('company', 'country_code'),)


  # Normal Model
  #   primary_key is auto 'id'
  class Musician(models.Model):
      first_name = models.CharField(max_length=50)
      last_name = models.CharField(max_length=50)
      profile = models.CharField(max_length=100)

      class Meta:
          db_table = 'Musician'


  # Child Model (CpkModel)
  #   primary_key is composite-key: artist.id, album_no
  class Album(CPkModel):
      artist = models.ForeignKey(
          Musician,
          primary_key=True,       # for CompositePK
          on_delete=models.CASCADE)
      album_no = models.IntegerField(
          primary_key=True,       # for CompositePK
      )
      name = models.CharField(max_length=100)
      release_date = models.DateField()
      num_stars = models.IntegerField()
      item_code = models.CharField(max_length=100)
      company = models.ForeignKey(
          Company,
          on_delete=models.CASCADE)

      class Meta:
          db_table = 'Album'
          unique_together = (('artist', 'album_no'),)
    </pre>
  </div>
</div>

{% endblock %}
