<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - CompositePK Model Test</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault"
        aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsDefault">
{% with request.resolver_match.url_name as url_name %}
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item {% if url_name == 'admin' %}active{% endif %}">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        <li class="nav-item {% if url_name == 'musician' %}active{% endif %}">
          <a class="nav-link" href="{% url 'musician' %}">Musician</a>
        </li>
        <li class="nav-item {% if url_name == 'company' %}active{% endif %}">
          <a class="nav-link" href="{% url 'company' %}">Company</a>
        </li>
        <li class="nav-item {% if url_name == 'test_filter' %}active{% endif %}">
          <a class="nav-link" href="{% url 'test_filter' %}">FilterTest</a>
        </li>
        <li class="nav-item {% if url_name == 'check_keys' %}active{% endif %}">
          <a class="nav-link" href="{% url 'check_keys' %}">CheckKeys</a>
        </li>
      </ul>
{% endwith %}
     </div>
  </nav>

    <div class="container body-content">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {% now "Y" %} - CompositePkModel Sample by Arisophy</p>
        </footer>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% block scripts %}{% endblock %}

</body>
</html>
